html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Mono";
}

canvas {
  display: block;
}

button {
  background-color: black;
  color: white;
  font-family: "Roboto-Mono";
  padding-bottom: 3px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto-Mono";
  src: url("./Roboto-Mono/RobotoMono-VariableFont_wght.ttf");
}
